SECRET_KEY=django-insecure-ielts-speaking-change-in-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=ielts_db
DB_USER=postgres
DB_PASSWORD=abu
DB_HOST=localhost
DB_PORT=5432

GROQ_API_KEY=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
